version: "3"

volumes:
  pg_data:

services:
  datapusher:
    container_name: datapusher-plus
    build:
      context: ./datapusher-plus/0.11.0/
      dockerfile: Dockerfile

    ports:
      - "8800:8800"
    network_mode: "host"
    environment:
      - SQLALCHEMY_DATABASE_URI=postgresql://datapusher_jobs:2486@localhost/datapusher_jobs
      - WRITE_ENGINE_URL=postgresql://datapusher:2486@localhost/datastore_default
